.article-content{
    word-spacing: 1px;
    letter-spacing: 1px;
}
.article-content pre {
    white-space: pre-wrap;
    border: 1px solid #333;
    text-align: left;
    padding: 5px;
    background: #f1f1f1;
}

.article-content blockquote p{
    background: #f4f4f4;
    padding: 10px;
    border: 2px dotted #000;
}

.article-content img{
    max-width: 100%;
    max-height: 100%;
}