:root {
    --zoom-rate: 1.2;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: "LXGW WenKai", "Intel", sans-serif;
}

header {
    position: sticky;
    height: 32px;
    top: 0;
    width: 100%;
    line-height: 32px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    border: none;
    padding: 24px 0;
    background: #fff;
    color: #000;
    z-index: 999;
}

main {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}


.article-list {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.article-item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    border: 1px solid #000;
    border-top: none;
    border-radius: 0;
    margin-bottom: 16px;
    background-color: #fff;
    width: 100%;
}

.article-header {
    position: sticky;
    top: 80px;
    font-weight: 400;
    width: auto;
    font-size: 16px;
    color: #333;
    height: 32px;
    line-height: 32px;
    padding: 12px;
    border-top: 2px solid #000;
    border-bottom: 1px solid #000;
    font-style: italic;
    background-color: #fff;
    z-index: 1;
}

.article-header .breadcrumb .breadcrumb-link {
    pointer-events: none;
    text-decoration: none;
    cursor: pointer;
    color: #888;
}

.article-header .article-title .breadcrumb-link {
    font-size: 24px;
    font-weight: 900;
    color: #0066cc;
    font-style: normal;
}

.article-header .last-modify-date {
    position: absolute;
    right: 8px;
    font-size: 12px;
    color: #888;
    display: inline;
    pointer-events: none;
}

.article-header .breadcrumb-separator {
    font-weight: 900;
    font-size: 24px;
    color: #888;
}

.article-main {
    position: relative;
}

.article-content {
    padding: 8px;
    color: #000;
    zoom: var(--zoom-rate);
}

#toc {
    position: sticky;
    top: 80px;
    border: 2px groove #000;
    align-items: flex-start;
    width: 264px;
    order: -1;
    min-height: 320px;
    margin-right: 48px;
    height: fit-content;
    max-height: 720px;
    overflow: overlay;
    padding: 8px;
    visibility: hidden;
}

#toc ul {
    margin-top: 4px;
    margin-left: -20px;
}

#toc li {
    margin-top: 12px;
}

#toc a {
    font-size: 16px;
}

.article-content h1::before,
.article-content h2::before,
.article-content h3::before,
.article-content h4::before,
.article-content h5::before,
.article-content h6::before {
    content: '';
    display: block;
    height: calc(144px / var(--zoom-rate));
    margin-top: calc(-144px / var(--zoom-rate));
    visibility: hidden;
}

@media screen and (min-width: 1200px) {
    .article-list {
        width: 60%;
        max-width: 960px;
    }

    #toc {
        width: 264px;
    }
}

@media screen and (max-width: 1200px) {
    .article-list {
        width: 60%;
        min-width: 560px;

    }

    .article-header .breadcrumb-link,
    .article-header .breadcrumb-separator {
        font-size: 18px;
    }

    .article-header .article-title .breadcrumb-link {
        font-size: 22px;
    }

    #toc {
        margin-right: 24px;
        width: 240px;
    }
}

@media screen and (max-width: 900px) {
    .article-list {
        width: 60%;
    }


    .article-header .breadcrumb-link,
    .article-header .breadcrumb-separator {
        font-size: 14px;
    }

    .article-header .article-title .breadcrumb-link {
        font-size: 18px;
    }

    .article-header .last-modify-date {
        visibility: hidden;
    }

    #toc {
        width: 20%;
        min-width: 200px;
        margin-right: 12px;
    }
}

@media screen and (max-width: 800px) {
    .article-list {
        width: 80%;
    }

    .article-header .breadcrumb-link,
    .article-header .breadcrumb-separator {
        font-size: 14px;
    }

    .article-header .article-title .breadcrumb-link {
        font-size: 18px;
    }

    .article-header .last-modify-date {
        visibility: hidden;
    }

    #toc {
        display: none;
    }
}